* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

textarea {
  height: 140px;
  resize: vertical;
}

input,
textarea {
  width: 500px;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 16px;
  border: 1px solid gray;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}