{% extends 'base.html' %}

{% block body %}

<main>
    <div class="main-containter">
        <div>
            <h2 class="title">{{ the_title }}</h2>
            <p class="text-gray-200 mb-12">Enter data into the form to get results</p>
            <div class="relative">
                <div class="green-box unregular-box motion-safe:animate-pulse">
                </div>
                <svg class="w-[200px] h-[200px] absolute top-16 left-60" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.6"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
                <svg class="w-[210px] h-[210px] absolute -top-6 left-2" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.1"
                        d="M3 1h8M1 5h12M3 9h8M1 13h12" />
                </svg>
            </div>
        </div>

        <form method="POST" action="/search4">
            <div class="mb-6">
                <label for="phrase" class="basic-label">Pharse</label>
                <textarea id="phrase" name="phrase" class="input-bar"
                    placeholder="E.g. You Can't Teach an Old Dog New Tricks" required></textarea>
            </div>

            <div class="mb-6">
                <label for="letters" class="basic-label">Letters</label>
                <input type="letters" id="letters" name="letters" class="input-bar" placeholder="aeiou" required />
            </div>

            <label class="toogle-label">
                <input type="checkbox" name="sensitive" value="checked" class="sr-only peer">
                <div class="toogle-div peer"></div>
                <span class="ml-5">Case sensitive</span>
            </label>

            <p class="my-4">When you are ready, click this button:</p>
            <p>
                <input class="submit-btn" value="Do it!" type="SUBMIT" />
            </p>
        </form>
    </div>
</main>

{% endblock %}